*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{

/* Primary colors */
--Softorange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

 /* Neutral colors */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-darkblue: hsl(240, 100%, 5%);
}


body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 100vh;
    background-color: var(--Off-white);
    margin: auto 0;
   

}
main{

    
}



   /* Navbar style */
 .topnav{
background-color: var(--Off-white);

float: right;
    }

.topnav a{

align-items: center;
justify-content: space-between;
color: var(--Very-darkblue);
padding: 20px;
text-decoration: none;

    }

 .topnav a:hover{
        color: var(--Soft-red);
    }

.bright{
    margin-top:-10%;
  padding: 20px;
    font-weight: 800;
    font-size: 30px;
   
    
}   
.left-section img{
    width:70%;
    height: 70%;
    padding: 10px 0;
   
} 


.right-section{
background-color: var(--Very-darkblue);
color: var(--Off-white);
display: block;
padding: 25px;
margin-right: 100px;

}
.right-section h1{
    color: var(--Softorange);
 
}
.right-section .cars{
font-weight: 700;
padding: 10px 0;
font-size: 20px;
}
.right-section p{
    opacity: 70%;
   

}
.cars:hover{
    color: var(--Softorange);
}

.left-text{
    opacity: 70%;
    padding: 15px;
    margin-top:-9%;
    margin-left: 20%;
    line-height: 1.5;
}

.left-text a{
    margin-top: 25px;
    background-color: var(--Soft-red);
    font-weight: 700;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Off-white);
}
.left-text a:hover{
    background-color: var(--Very-darkblue);
}



.bottom img{
    width: 100px;
}
.bottom h1{
    opacity: 50%;
    font-size: 20px;
    font-weight: 700;
}
.bottom .info{
    font-weight: 700;
    padding: 5px 0;
    
}
.bottom{
    display: flex;
    padding:20px;
}
.line{
    display: flex;
}
.flex{
    padding:15px;
}
.top-container{
    display: flex;
}
.middle-container{
    display: flex;
    padding:10px;
}
.bottom-container{
    display: flex;
    justify-content: center;
 
}



    .attribution { 
        font-size: 11px; 
        text-align: center; }
    .attribution a { 
        color: hsl(228, 45%, 44%); }

        @media only screen and (max-width:1400px) {
            main{
            
        }
        }