*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{

/* Primary colors */
--Softorange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

 /* Neutral colors */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-darkblue: hsl(240, 100%, 5%);
}


body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    height: 100vh;
    background-color: var(--Off-white);
}
main{
    padding: 50px
}



   /* Navbar style */
 .topnav{
background-color: var(--Off-white);
overflow: hidden;
    }

.topnav a{
float:right;
color: var(--Very-darkblue);
text-align: center;
padding: 14px 16px;
text-decoration: none;
    }

 .topnav a:hover{
        color: var(--Soft-red);
    }

.bright{
    font-weight: 800;
    font-size: 30px;
}   
.left-section img{
    width:50%;
} 

.right-section{
background-color: var(--Very-darkblue);
color: var(--Off-white);
display: block;
padding: 25px;
}
.right-section h1{
    color: var(--Softorange);
    padding: 15px;
}
.right-section span{
font-weight: 700;
}
.right-section p{
    opacity: 70%;
}




    .attribution { 
        font-size: 11px; 
        text-align: center; }
    .attribution a { 
        color: hsl(228, 45%, 44%); }